/* layout global styles */

:root {
    /* colors variables */
    --bg-body: #F5F6F6;
    --bg-white: #fff;
    --brand-color: #272D68;
    --action-button: #272D68;
    --text-color: #0B0B0B;
    --font: 'Inter', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-body);
    font-family: var(--font);
    color: var(--text-color);
    
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-direction: column;
}

/* fonts and texts */

.main-text{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.5em;
}

.page-title-small {
    font-size: 0.875em;
    font-weight: 700;
    line-height: 1.5em;

}

.text-container {
    padding: 12px 32px;
    background-color: var(--bg-white);
    border-radius: 15px;
}

.product-card-title , 
.product-card-reference,
.product-card-price {
    font-size: 1em;
    font-weight: 400;
    line-height:1.125em ;
    
}

.product-card-title{
        height: 36px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-overflow: ellipsis;
      
}

.product-card-reference{
    padding-top: 25px;
    padding-bottom: 16px;
    font-size: 12px;
    font-weight: 300;

}

.product-card-price {
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 12px;
}

.product-card-installment {
    font-size: 0.75em;
    padding-bottom: 17px;;
    font-weight: 300;
}

/* Header */

.header-info-bar {
    background-color: var(--brand-color);
    padding: 0.5em 0;
}

.header-info-bar h4 {
    color: var(--bg-white);
    font-size: 0.875em;
    font-weight: 400;
}

.header-logo {
    width: 7.9375em;
    height: 5.5em;
}

.header-top{
    padding: 16px 0;
}
.header-logo img{
    width: 100%;
    object-fit: cover;
}

.header-top-search-bar {
    width: 70%;
    display:flex;
    align-items: center;
    
}

.header-top-search-bar input{
    width: 100%;
    font-size: 1em;
    padding: 16px 60px;
    border-radius: 15px;
    border: none;
    position: relative;
}

.header-top-search-bar i {
    position:absolute;
    background-color: #e4e4e4;
    z-index: 1;
    font-size: 1.625em;
    padding: 10px;
    border-radius: 15px 0 0 15px;
}

.header-top-icons i {
font-size: 2em;
}

.header-top-icons i:nth-child(2) {
    padding: 0 24px;
    font-size: 36px;
}

.header-navbar ul{
    list-style: none;
}

.header-navbar li {
    padding: 0 2em;
    font-size:14px;
}

.header-navbar li a{
    text-decoration: none;
    color: var(--text-color);
}


.header-navbar .container-flex {
    justify-content: center;
}

/* product container and grid */

.section-product {
    padding: 3.125em 0;
    position: relative;
}

.section-product-carrousel {
    
    padding-top: 3.125em;
    /* display: flex;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    column-gap: 16px; */

    position: relative;
    overflow: hidden;
}

.carrousel {
    display: flex;
    transition: transform 0.5s ease;
    column-gap: 16px;
}

.product-card {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-white);
    padding:16px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
    /* height: 512px; */
    border-radius: 15px;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.04);
}

.product-card img {
    width:100%;
    border-radius: 15px;
    object-fit: cover;
}

.product-card-btn {
    width: 100%;
    padding: 5px 20px;
    background-color: var(--brand-color);
    border-radius: 15px;
    color: var(--bg-white);
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: rgb(23, 23, 23);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 32px;
  }
  
  .prev {
    left: -70px;
  }
  
  .next {
    right: -70px;
  }

/* footer */

.footer-info-container {
    padding-top: 3.125em;
    padding-bottom: 1.5625em;
    column-gap: 16px;
    align-items: stretch;
    border-top: 1px solid #e6e3e3;
}

.footer-info-card {
    width: 25.25em ;
    padding:16px;
    background-color: var(--bg-white);
    border-radius: 15px;
}

.footer-info-card h4{
    font-weight: 400;
    padding-bottom: 16px;
}

.footer-info-card h3{
    font-size: 24px;
    font-weight: 700;
    color: var(--brand-color);
    padding-bottom: 16px;
}

.footer-info-card h5{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 16px;
}

.footer-bg {
    background-color: var(--brand-color);
}

.footer-nav {
    padding: 3em 0;
    color: var(--bg-white);
    align-items: flex-start;
}

.footer-nav-container {
    display: flex;
   
}

.footer-navitem-container {
    margin-right: 56px;
}

.footer-navitem-container h3,
.footer-social-container h3{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 16px;
}

.footer-navitem-container ul{
   list-style: none;
}

.footer-navitem-container li{
    padding-bottom: 10px;
 }

 .footer-navitem-container li a{
    text-decoration: none;
    color: var(--bg-white);
 }

 .footer-social-container h5{
    font-weight: 300;
    padding-bottom: 10px;
 }

 .footer-social-container i {
    padding-right: 16px;
    font-size: 36px;
 }

 .rights {
    background-color: var(--text-color);
    text-align: center;
    color:var(--bg-white);
    font-size: 14px;
    padding: 32px 0;
 }

